/* Article Summary */

.article-summary__header {
    text-align: center;
  }
  
  .article-summary__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    gap: 2rem;
  }